.buttons-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.buttons-wrapper button {
  margin: 20px;
  width: 250px;
}